@media (max-width:1870px){
    .sec2 div{
        width: 580px;
        /* background-color: red; */
    }   
    .container1{
        display: block;
    }
    body{
        width: 100vw;
    }
}
@media (max-width: 1800px){
    body{
        height: 90vh;
    }
}
/*  */
@media (max-width: 1800px){
    .sec2 div{
        height: 500px;
        overflow: auto;
    }
}
@media (max-width: 1740px){
    .sec2 div{
       width: 400px;
    }
}
@media (max-width: 1340px){
    .sec2 div{
       width: 300px;
    }
}
@media (max-width: 1210px){
    .sec2 div{
       width: 200px;
    }
}
@media (max-width: 1100px){
    .sec2{
        width: 100%;
        display: flex;
        justify-content: center;

    }
    .sec2 div{
        position: absolute;
        left: 10px;
        top: 400px;
        height: 200px;
        width:80%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
}
@media (max-width:600px){
    .sec1 h1,.sec1 p{
        font-size: 35px;
    }
    .sec2 div{
        top: 300px;
    }
    *{
        margin: 0;
    }
}



/*  */

/* @media (max-width:1105px){
    .sec2 div{
        width: 400px;
    }
}
@media (max-width:1000px){
    .dd{
        display: flex;
        flex-direction: column;
    }
}
@media (max-width:905px){
    .sec2 div{
        width: 300px;
    }
}
@media (max-width:805px){
    .sec2 div{
        width: 200px;
    }
}
@media (max-width:705px){
    .sec2 div{
        width: 100px;
    }
}
@media (max-width:605px){
   
} */